<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <div class="container main-inner">

        <!-- 검색한 소환사 info 컨테이터 -->
        <div th:object="${summonerDto}" class="main-card mb-3 card">
            <div class="row summoner-date2">

                <!-- 아이콘 -->
                <div class="col-sm-3 summoner">
                    <img th:src="*{iconImgUrl}" alt="소환사 아이콘" width="120px">
                </div>

                <!-- 소환사 명 -->
                <div class="summoner col-sm-7">
                    <h1 class="mt-3">[[*{name}]]</h1>
                    <h5><span class="badge badge-secondary">Lv.[[*{smLv}]]</span> </h5>
                </div>
            </div>
            <!-- 검색한 소환사 info 하단 -->
            <div class="row summoner-data4">
                <!-- box 1 -->
                <div class="col-sm-3 back-blue">
                    <div class="row">
                        <!-- 솔로랭크 -->
                        <th:block th:unless="*{soloTier == 'Unranked'}">
                            <div class="col-sm-5 back-blue">
                                <img th:src="@{/emblem/}+*{soloTier}+@{.png}" alt="tier" width="70px">
                            </div>
                            <div class="col-sm-6 back-blue">
                                <h6 class="small">솔로랭크</h6>
                                <h6>[[*{soloTier}]] [[*{soloRank}]]</h6>
                                <h6 class="small">[[*{soloLeaguePoints}]]</h6>
                                <h6 class="small">[[*{soloWins}]]승 [[*{soloLosses}]]패 </h6>
                            </div>
                        </th:block>
                        <!--언랭일때-->
                        <th:block th:if="*{soloTier == 'Unranked'}">
                            <img th:src="@{/img/rank1.png}" alt="Unranked" width="190px">
                        </th:block>
                    </div>
                </div>
                <!-- box 2 -->
                <div class="col-sm-3 back-blue">
                    <div class="row">
                        <!-- 자유랭크 -->
                        <th:block th:unless="*{flexTier == 'Unranked'}">
                            <div class="col-sm-5 back-blue">
                                <img th:src="@{/emblem/}+*{flexTier}+@{.png}" alt="tier" width="70px">
                            </div>
                            <div class="col-sm-6 back-blue">
                                <h6 class="small">자유랭크</h6>
                                <h6>[[*{flexTier}]] [[*{flexRank}]]</h6>
                                <h6 class="small">[[*{flexLeaguePoints}]] Point</h6>
                                <h6 class="small">[[*{flexWins}]]승 [[*{flexLosses}]]패 </h6>
                            </div>
                        </th:block>
                        <!--언랭일때-->
                        <th:block th:if="*{flexTier == 'Unranked'}">
                            <img th:src="@{/img/rank2.png}" alt="Unranked" width="190px">
                        </th:block>
                    </div>
                </div>
                <!-- box 3 최근 20전 승률 -->
                <div class="col-sm-3 back-blue">
                    <div class="row">
                        <!-- 도넛 차트 -->
                        <div class="col-sm-5 back-blue">
                            <canvas id="myChart" width="230" height="330"></canvas>
                        </div>
                        <div class="col-sm-6 back-blue">
                            <h6>[[*{recentTotal}]]전 [[*{recentWin}]]승 [[*{recentLose}]]패</h6>
                            <h6>[[*{recentAvg}]]</h6>
                            <h6 class="small">[[*{recentKill}]] / [[*{recentDeath}]] / [[*{recentAssist}]]</h6>
                        </div>
                    </div>
                </div>
                <!-- box 4 인게임 여부 -->
                <div class="col-sm-3 back-blue">
                   <!-- <th:block th:if="*{current == 'no'}">
                        <img src="@{/img/current.png}" width="190px">
                    </th:block>
                    <th:block th:if="*{current == 'yes'}">
                        <p th:text="현재 게임중!"></p>
                        <img src="*{curChampUrl}" alt="현재 챔프" width="70px">
                    </th:block>-->
                </div>
            </div>
            <!-- info 하단 종료 -->
        </div>
        <!-- info 컨테이너 종료 -->

        <p th:text="${summonerDto.name}"></p>
        <p th:text="${summonerDto.smLv}"></p>
        <p th:text="${summonerDto.soloTier}"></p>
        <p th:text="${summonerDto.flexTier}"></p>

        <p th:text="${summonerDto.matchDtoList}"></p>

        <!-- 매치 리스트 -->
        <div class="main-card2 mb-3 card">
            <div class="table-responsive">

                <table class="table align-middle text-truncate mb-0 table-borderless table-hover">

                        <tr class="text-center align-middle" th:each="match:${summonerDto.matchDtoList}" th:classappend="${match.table}">
                            <th scope="row" th:classappend="${match.win}" width="3%">
                                <span th:text="${match.win}">승패</span>
                            </th>

                            <td width="5%">
                                <p th:text="${match.queueId}">게임타입</p>
                                <h6><b>[[${match.myGameDto.myChamp}]]</b></h6>
                                <span th:text="${match.gameDuration}"> 시간</span>
                            </td>

                            <td width="15%">
                                <img th:src="${match.myGameDto.myChampUrl}" width="100px">

                            </td>
                            <td width="5%" >
                                <img th:src="${match.myGameDto.runeImgUrl1}" width="20px" class="m-1 d-block">
                                <img th:src="${match.myGameDto.runeImgUrl2}" width="20px" class="m-1 d-block">
                                <img th:src="${match.myGameDto.spImgUrl1}" width="20px" class="m-1 d-block">
                                <img th:src="${match.myGameDto.spImgUrl2}" width="20px" class="m-1 d-block">

                            </td>
                            <td width="10%" class="align-middle">
                                <h5><b>[[${match.myGameDto.myK}]] / [[${match.myGameDto.myD}]] / [[${match.myGameDto.myA}]]</b></h5>
                                <p>[[${match.myGameDto.myAvg}]]</p>
                            </td>








                        </tr>


                </table>
            </div>
        </div>





    </div>
</div>