@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import "bootstrap";

$primary: #b8daff;
$danger: #f5c6cb;



html {
    position: relative;
    min-height: 100%;
    margin: 0;

}
body {
    color: #353535;
    font-family: 'Archivo Black', sans-serif;
    background-color : whiteSmoke;
    min-height: 100%;
}
p {
    font-family : 'Pretendard-Regular';
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}
.content{
    margin-bottom:100px;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

#myChart{
	display:block;
	height : 35%;
	max-height : 130px;
	width: 35%;
}

.table-primary .WIN{
    background-color : #57a4f6;
    writing-mode: vertical-rl;
}
.table-danger .LOSE{
    background-color : #f78d8d;
    writing-mode: vertical-rl;
}

.back-blue{
	  align-items:center;
      background-color: #f0f4fd;
}